.App {
  text-align: center;
}

body {
  background-color: rgb(88, 25, 25);
    

color: white;
min-height: 100vh;
margin-bottom: 4rem;
}
header {
  text-shadow: 2px 2px 15px #ff7575;
  font-size: 1.8rem;
}
form input,
.inp {
    color: rgb(88, 87, 87);
}
button {
  padding: 0.5rem 0.9rem;
  color:  #573a3a;
  background: rgb(116, 113, 113);
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background: #7a5252;
  color: rgba(255, 255, 255, 0.87);

}.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 2rem;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  padding: 0rem 2rem;
}
#done{
  text-decoration: line-through;
  
}